@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


 /* Hide scrollbar but allow scrolling */
.scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

@keyframes sliderAnimation {
    0% {
      right: 0%;
    }
    10% {
      right: 0%;
    }
    20% {
      right: 100%;
    }
    30% {
      right: 100%;
    }
    40% {
      right: 200%;
    }
    50% {
      right: 200%;
    }
    60% {
      right: 300%;
    }
    70% {
      right: 300%;
    }
    80% {
      right: 400%;
    }
    90% {
      right: 400%;
    }
    100% {
      right: 500%;
    }
  }